<cffile action="UPLOAD" filefield="foto" destination="#expandPath('images/')#" nameconflict="MAKEUNIQUE">
        <cfoutput>
        File Uploaded! #cffile.ClientFile#
        </cfoutput> 
        <cfset FOTOGRAF = createUUID() & "." & cffile.serverFileExt>
       
        <cffile 
        action="rename" 
        source="#expandPath('./images/#cffile.serverFileName#.#cffile.serverFileExt#')#" 
        destination="#expandPath('./images/#FOTOGRAF#.#cffile.serverFileExt#')#"
        />
        
<cfset dsn='dsn'>

<!--query--->
<cfif isdefined("form.foto") and LEN(Trim(form.foto))>
<cfquery name="kaydet" datasource="#dsn#">
INSERT INTO
OGRENCI
(
 OGRENCI_ADI,
 OGRENCI_SOYADI,
 TEL_KOD,
 TEL,
 DOGUM_TARIHI,
 DOGUM_YERI_ID,
 MAIL_ADRESI,
 EV_ADRESI,
 KAN_GURUBU_ID,
 ACIL_DURUM_KISI,
 ACIL_DURUM_KISI_TEL_KOD,
 ACIL_DURUM_KISI_TEL,
 ACIL_DURUM_KISI_MAIL,
 FOTOGRAF
)
VALUES
(
  '#FORM.AD#','#FORM.SOYAD#','#FORM.TEL_KOD#','#FORM.TEL#', 
  '#FORM.DTAR#', '#FORM.DYER#', '#FORM.EMAIL#', '#FORM.ADRES#',
  '#FORM.KAN#', '#FORM.AK_KISI#', '#FORM.AK_TEL_KOD#', '#FORM.AK_TEL#', '#FORM.AK_EMAIL#', '#FOTOGRAF#'
)

</cfquery>
</cfif>

<!---script--->
<script type="text/javascript">
alert("Kaydedildi");
window.location.href='<cfoutput>ogrenciler.cfm</cfoutput>';
</script>
