﻿<cfquery name="image" datasource="dsn">
    select FOTOGRAF as deneme from OGRENCI  where OGRENCI_ID= #URL.ID#
</cfquery>

<cfset FOTOGRAF="#image.deneme#">

<cfif Form.angrs == 1>
<cffile action="UPLOAD" filefield="foto" destination="#expandPath('images/')#" nameconflict="MAKEUNIQUE">
        <cfoutput>
        File Uploaded! #cffile.ClientFile#
        </cfoutput> 
        <cfset FOTOGRAF = createUUID() & "." & cffile.serverFileExt>
       
        <cffile 
        action="rename" 
        source="#expandPath('./images/#cffile.serverFileName#.#cffile.serverFileExt#')#" 
        destination="#expandPath('./images/#FOTOGRAF#.#cffile.serverFileExt#')#"
        />
</cfif>

<!--query--->
<cfset dsn='dsn'>
<cfquery datasource="#dsn#">
UPDATE OGRENCI SET
OGRENCI_ADI='#FORM.AD#', 
OGRENCI_SOYADI='#FORM.SOYAD#',
TEL_KOD='#FORM.TEL_KOD#', 
TEL='#FORM.TEL#', 
DOGUM_TARIHI='#FORM.DTAR#',
DOGUM_YERI_ID=#FORM.DYER#,
MAIL_ADRESI='#FORM.EMAIL#', 
EV_ADRESI='#FORM.ADRES#',
KAN_GURUBU_ID=#FORM.KAN#,
ACIL_DURUM_KISI='#FORM.AK_KISI#',
ACIL_DURUM_KISI_TEL_KOD=#FORM.AK_TEL_KOD#, 
ACIL_DURUM_KISI_TEL='#FORM.AK_TEL#',
ACIL_DURUM_KISI_MAIL='#FORM.AK_EMAIL#',
FOTOGRAF = '#FOTOGRAF#'
WHERE 
OGRENCI_ID=#URL.ID#
</cfquery>

<!---script--->
<script type="text/javascript">
alert("Güncellendi!");
window.location.href='<cfoutput>ogrenciler.cfm</cfoutput>';
</script>