<cfset dsn='dsn'>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<cfquery name="delete" datasource="#dsn#">
DELETE FROM OGRENCI WHERE OGRENCI_ID=#URL.ID#</cfquery>

<script type="text/javascript">
		swal("Kayıt Silindi!");
		window.location.href='<cfoutput>ogrenciler.cfm</cfoutput>';
		</script>