<cfset dsn='dsn'>
<html lang="en">
<head>
  <title>Öğrenci Kayıt</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#"><img class="img-circle" alt="Cinque Terre" style="width:50px; height:50px;" src="ogrenci.png" name="myImage"></a>
    </div>

    <ul class="nav navbar-nav">
      <li><a href="ogrenci.cfm">Öğrenci Ekle</a></li>
      <li><a href="ogrenciler.cfm">Öğrenciler</a></li>
     
    </ul>
  </div>
</nav>
  
<div class="container">
</div>

</body>
</html>